*,

.html {
    margin: 0;
    padding: 0;
}

.container {
    background-color: gray;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 1.5vh;
    margin: 1vh;
    color: white;
    font-size: 2.3vh;
    display: flex;
}

.li-navbar:hover {
    background-color: darkgrey;
    transition: .5 ease-in-out;
    transition-delay: .1.5s;
    border-radius: 8px;
}

    
.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}


.container-content {
    background-color: darkgray;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.a-content {
    background-color: white;
    text-decoration: none;
    width: 50vh;
    height: 15vh;
    display: flex;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    margin-top: -6vh;
}

.a-content-dua {
    background-color: white;
    text-decoration: none;
    width: 50vh;
    height: 15vh;
    display: flex;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    margin-top: -43vh;
}

.a-content-tiga {
    background-color: white;
    text-decoration: none;
    width: 50vh;
    height: 15vh;
    display: flex;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    margin-top: -71vh;
}

.img-content {
    width: 7vh;
}
 
.p-content {
    margin-left: 2vh;
    display: flex;
    font-size: 2vh;
    color: black;
}

.container-footer {
    height: 10vh;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
   font-size: 3vh;
   color: white;
   
}

.a-content-about {
    background-color: white;
    width: 50vh;
    height: 21.5vh;
    border-radius: 1vh;
    margin-top: -70vh;
}

.content-p {
    margin-left: 2vh;
    font-size: 1.5vh;
    color: black;
    display: flex;
    margin-top: 2.3vh;
    text-align: left;
}

.a-content-wa {
    background-color: white;
    text-decoration: none;
    width: 50vh;
    height: 15vh;
    display: flex;
    border-radius: 1vh;
    justify-content: center;
    align-items: center;
    margin-top: -70vh;
}
.img-content-wa {
    width: 15vh;
}
